/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: 'Courier New', monospace; /* Fonte Courier New para o corpo */
    background-color: #f2f2f2; /* Verde claro */
    color: #333; /* Preto */
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #ffcccc; /* Rosa claro */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Helvetica', sans-serif; /* Fonte Helvetica para o título */
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
    color: #333; /* Preto */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Preto */
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6699; /* Rosa mais escuro */
}

/* Main */
main {
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo */
}

.content {
    background-color: #fff; /* Fundo branco */
    border-radius: 10px; /* Cantos arredondados */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

main h2 {
    font-family: 'Helvetica', sans-serif; /* Fonte Helvetica para os títulos */
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333; /* Preto */
}

main p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Footer */
footer {
    background-color: #ffffcc; /* Amarelo claro */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 0.9em;
    color: #666; /* Cinza escuro */
}

/* Links */
a {
    color: #ff6699; /* Rosa mais escuro */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff3366; /* Rosa mais claro */
}
